.cem-title h1 {
  font-size: 40px;
  color: #224C4F;   
  
  margin-top: 58px;
  margin-bottom: 24px;
}

.search-div {
  display: flex;
  gap: 38px;
  margin-bottom: 24px;
}

.search-div .btn {
  padding: 15px 12px;
}

.search-div .btn-transparent {
  color: #224C4F;
}

/***********************************************************************************
      # SEARCH FORM
************************************************************************************/
.search-form {
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  margin-bottom: 24px;

  display: flex;
}

.choose-city-div {
  display: flex;
  margin-bottom: 27px;
}

.choose-city-div__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  color: #224C4F;
}

.choose-city-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 6px;
  padding-left: 17px;

  gap: 13px;
}

.choose-city-nav p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #224C4F;

}

.cemetries-of-the-city__wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cemetries-of-the-city__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #224C4F;
}

.cemetries-of-the-city__subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #224C4F;
}


#search-icon {
  width: 20px;
  height: 20px;
  margin: 20px;
}

input[type=search] {
  width: 80%;
  font-size: 20px;
  border: 0 transparent;
}  


/***********************************************************************************
    # CEMETRY CARD footer container blyat SUUUKA!!!
************************************************************************************/
.cemetry-section {
  padding-bottom: 54px;
}

.cemetry-section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.cemetry-top-titles {
  margin-bottom: 24px;
}

.cemetry-card {
  flex: 0 0 48%;
  margin: 0 auto;
  height: 100%;

  display: flex;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.cemetry-map {
  flex: 0 0 40%;
  height: 293px;
  
  margin-bottom: 20px;
}

.map {
  width: 100%;
  height: 293px;
}

.cemetry-content {
  width: 60%;
  padding: 20px;
}

.cemetry-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  color: #224C4F;

  margin-bottom: 10px;
}

.address-div {
  display: flex;

  margin-bottom: 10px;
}

.pointer {
  width: 23px;
  height: 27px;
  margin-right: 10px;
}

.address {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding-top: 3px;
  color: #DADADA;
}

.cemetry-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cemetry-label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #224C4F;

}

.cemetry-txt {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #224C4F;

  

}



@media only screen and (max-width: 1340px) {
  .cemetry-card {
    flex: 0 0 46%;
    margin: 0 auto;
  
    display: flex;
  
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }

  .cemetry-title {
    font-size: 22px;
  }


}

@media only screen and (max-width: 1297px) {
  .cemetry-title {
    font-size: 20px;
  }

}

@media only screen and (max-width: 1195px) {
  .cemetry-title {
    font-size: 18px;
  }


}

@media only screen and (max-width: 1094px) {
  .cemetry-title {
    font-size: 16px;
  }

  .cemetry-label {
    font-size: 14px;
  }
  
  .cemetry-txt {
    font-size: 14px;
  }
}

@media only screen and (max-width: 993px) {
  .cemetry-card {
    flex: 0 0 48%;
  }
  
  .cemetry-title {
    font-size: 14px;
    line-height: 20px;
  }

  .cemetry-label {
    font-size: 12px;
  }
  
  .cemetry-txt {
    font-size: 12px;
  }

  .pointer {
    width: 18px;
    height: 22px;
  }

  .address {
    font-size: 15px;
    padding-top: 0;
  }




}

@media only screen and (max-width: 854px) {
  .cemetry-card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
  }

  .cemetry-map {
    flex: 0 0 0%;
    height: 293px;
    
    margin-bottom: 20px;
  }
  
  .map {
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  .cemetry-content {
    width: 100%;
    padding: 20px;
  }

  .cemetry-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0px;
    color: #224C4F;
  
    margin-bottom: 10px;
  }
  
  .cemetry-label {
    font-size: 22px;
    margin-bottom: 12px;
  }
  
  .cemetry-txt {
    font-size: 22px;
  }

  .pointer {
    width: 26px;
    height: 34px;
  }

  .address {
    font-size: 22px;
    padding-top: 6px;
    margin-bottom: 17px;

  }
}