.payment-wrapper {
  width: 576px;
  box-shadow: 0px 2px 5px 0px #0000001A;
  padding: 24px;
}

.payment-wrapper__title {
  margin-bottom: 12px;
}

.payment-wrapper__description {
  margin-bottom: 40px;
}

.payment-wrapper__form-line {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment-wrapper__form {
  margin-bottom: 20px;
}

.payment-wrapper form {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-wrapper__form-line label {
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  line-height: var(--lh-24);
  color: var(--main-color);
}

.payment-wrapper__form-line input {
  border: 1px solid var(--main-color);
  padding: 14px;
  border-radius: 16px;
  font-size: var(--fs-14);
}

.btn-pay {
  width: 100%;
}